body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

.header {
    background: #2c7be5;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.sidebar {
    width: 220px;
    background: #34495e;

    position: fixed;
    top: 80px; 
    left: 0;
    bottom: 0;

    padding-top: 20px;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #2c3e50;
}


.content {
    margin-left: 240px;
    padding: 30px;
}

.filter-box {
    margin-bottom: 20px;
}

.filter-box select,
.filter-box button {
    padding: 10px;
    border-radius: 5px;
}

.overview-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #2c7be5;
}

.welcome-box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #2c7be5;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
