.card-box{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,.05);
}

.card h3{
    color:#1e3c72;
    font-size:16px;
    margin-bottom:8px;
}

.card p{
    font-size:22px;
    font-weight:bold;
    color:#16325c;
}

.table-box{
    margin-top:25px;
    background:#fff;
    padding:20px;
    border-radius:8px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th, table td{
    padding:10px;
    border:1px solid #ddd;
    text-align:center;
}

table th{
    background:#2a5298;
    color:#fff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

.header {
    background: #1e3c72;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #2a5298;
    min-height: 100vh;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
}

.sidebar a:hover {
    background: #1e3c72;
}

.content {
    flex: 1;
    padding: 20px;
}

.card-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}  

.card {
    background: #fff;
    padding: 20px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    text-align: center;
}

.card h3 {
    color: #2a5298;
}

.logout {
    margin-top: 30px;
    display: inline-block;
    color: red;
    text-decoration: none;
}
button {
    background: #1abc9c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    background: white;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.delete {
    color: red;
    text-decoration: none;
}
